.content-box {
  border: 2px dashed black;
  width: 200px;
  height: 100px;
  background: #4da3da;
}

.padding-box {
  border: 2px dashed black;
  padding: 18px;
  width: 240px;
  height: 140px;
  background: #63f193;
}

.border-box {
  border: 2px dashed black;
  padding: 18px;
  width: 280px;
  height: 180px;
  background: #ede464;
}

.margin {
  border: 2px dashed black;
  padding: 18px;
  width: 320px;
  height: 220px;
  background: #e9c06f;
}

.position {
  border: 2px dashed black;
  padding: 18px;
  width: 360px;
  height: 260px;
  background: #f66152;
}
