header {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: $level-2-shadow;
  top: 0;
  left: 0;
  padding: 20px 25px;
  width: 100vw;
  height: 100px;
  background: linear-gradient(135deg, darken($primary,10%), $primary 50%, lighten($primary,10%));

  label {
    margin: 0 25px 0 0;
    border: none;
    border-radius: 30px;
    padding: 9px 15px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 8px #ffffff;

    &:active {
      box-shadow: inset 0px 2px 4px rgba(0,0,0,0.24);
      background-color: darken($primary, 20%);
    }

    &:hover {
      color: white;
      text-shadow: 2px 2px 8px #000000;
    }
  }
}
